.App{
  background-color: lightgray;
  width: 600px;
  height: 600px;
}
.App label{
   margin-left: 100px;
   align-items: left;
   padding: 10px;
}
.App header{
  padding-bottom: 20px;
}
.App input{
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  
}